/* css reset */
* {
    margin: 0px;
    padding: 0px;
}
html {
    scroll-behavior: smooth;
}

/* css variables */


/* logo  */
#logo {
    margin: 2px 12px;
}

/* navbar: logo img */
#logo img {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

/* navbar  */
#navbar {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
}

#navbar::before {
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: -1;
    opacity: 0.5;
}


#navbar ul {
    display: flex;
    font-family: "Baloo Bhai 2", sans-serif;
}

#navbar ul li {
    list-style: none;
    font-size: 1.2rem
}

#navbar ul li a {
    display: block;
    padding: 3px 20px;
    border-radius: 20px;
    text-decoration: none;
    color: white;
}

#navbar ul li a:hover {
    color: white;
    background-color: brown;
}

/* Home Sectiom  */

#home {
    display: flex;
    flex-direction: column;
    height: 610px;
    padding: 3px 100px;
    justify-content: center;
    align-items: center;
}

#home::before {
    content: "";
    background: url(bg1.jpg) no-repeat center center/cover;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: -1;
    opacity: 0.89;
}

#home h1 {
    color: brown;
    text-align: center;
    font-family: "Anta", sans-serif;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color:  rgb(255, 255, 255);
}

#home p {
    color: rgb(255, 255, 255);
    font-family: "Anta", sans-serif;
    text-align: center;
    font-size: 1.5rem;
}


.btn:hover {
    padding: 6px 20px;
    border: 2px solid brown;
    background-color: white;
    color: brown;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
    }
    
/* Services Section */
    #services{
        margin: 34px;
        display: flex;
    }
    
    #services .box {
        border: 2px solid brown;
        padding: 34px;
        margin: 3px 10px;
        border-radius: 28px;
        background-color: #fff5f5;
    }

    #services .box img{
        height: 135px;
        display: block;
        margin: auto;
    }

    #services .box p{
        font-family: "Anta", sans-serif;
    }

/* Clients Section */
    #client-section{ 
        position: relative;
    }

    #client-section::before{
    content: "";
    position: absolute;
    background: url('bg2.png') no-repeat center center/cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.89;
    }

    #clients{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .client-item{
        padding: 34px;
    }

    #clients img{
        height: 124px;
    }

/* Contact Section */
    #contact{
        position: relative;
    }
    #contact::before{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
        opacity: 0.7;
        background: url('../contact.jpg') no-repeat center center/cover;

    }
    #contact-box{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 34px;
    }
    #contact-box input, 
    #contact-box textarea{
        width: 100%;
        padding: 0.5rem;
        border-radius: 9px;
        font-size: 1.1rem;
    } 

    #contact-box form{
        width: 40%;
    }

    #contact-box label{
        font-size: 1.3rem;
        font-family: "Anta", sans-serif;
    }

    footer{
        background: black;
        color: white;
        padding: 9px 20px;
    }

/* utility classes  */
    .h-primary {
        font-family: "Anta", sans-serif;
        font-size: 2.8rem;
        padding: 12px;
    }

    .h-secondary {
        font-family: "Anta", sans-serif;
        font-size: 1.8rem;
        padding: 12px;
    }

    .btn {
        padding: 6px 20px;
        border: 2px solid white;
        background-color: brown;
        color: white;
        margin: 17px;
        font-size: 1.5rem;
        border-radius: 10px;
        cursor: pointer;
    }
    
    .centre {
        text-align: center;
        align-items: center;
    }
        